@using PomaPlayer.SoftArc.Web.Controllers;
@using PomaPlayer.SoftArc.Web.Features.DtoModels.Trainer;
@model TrainerDto[]
@{
    ViewBag.Title = "Список тренеров";
}

<div class="container">
    <div class="container">
        <a class="btn btn-outline-success" href="@Url.ActionLink(nameof(ManageController.Trainer), ManageController.Manage)">Создать тренера</a>
    </div>
</div>

<div class="container mt-2">
    <h3 class="text-center mb-4">Список тренеров</h3>
    <table class="table table-bordered table-hover align-middle text-center">
        <thead>
            <tr>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Специализация</th>
                <th scope="col">Сведения</th>
                <th scope="col">Изменить</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SurName</td>
                        <td>@item.Name</td>
                        <td>@item.LastName</td>
                        <td>@item.Specialization</td>
                        <td>
                            @Html.ActionLink("Смотреть", nameof(ManageController.GetInfoTrainer), ManageController.Manage, new { isnTrainer = item.IsnNode  })
                        </td>
                        <td>
                            @Html.ActionLink("Изменить", nameof(ManageController.GetEditTrainer), ManageController.Manage, new { isnTrainer = item.IsnNode  })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>